*{
background-color: transparent;
}

.navbar li {
    display: inline;
}

.navbar ul {
float: right;
list-style-type: none;
}

.navbar li a{
    color: rgb(5, 71, 10);
    text-align: center;
    padding: 18px 15px;
    text-decoration: none;
    font-size: 13px;
}
.navbar li a:hover{
    color: rgb(66, 71, 5);
    text-decoration: underline;
    font-size:15px;
}
.navbar {
    display: flex;
}
.navbar div{
    flex: 1;
}
.flex-container{
    display: flex;
}
.flex-container div {
    height: 300px;
     flex: 1; 
  }
  .flex-container button {
      background-color: rgb(38, 71, 219);
      border: none;
      height: 40px;
      width: 80px;
  }
  .flex-container button:hover{
    background-color: rgb(207, 130, 13);
    height: 42px;
    width: 84px;
    font-weight: bold;
  }
  .flex-container button a{
      text-decoration: none;
      color: white;
      font-size: 18px;   
  }

  .randomInfowhole {
        padding-top: 20px;
  }
  .randomInfo{
    padding: 20px 20px 20px 20px;
    display: flex;
 
  }
  .randomInfo div{
    flex: 1;
  }
